# Ignore the unzipped xml files of funding information for specific years
nsf_data

# Ignore large csv (due to large file size)
database/publication_info.csv
database/content_analysis.csv
database/preprocessed_content_analysis.csv
regression/merged_publications_2011_2020.csv

# Ignore __pycache__
__pycache__